.footer-container {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  background-color: rgba(226, 10, 19, 0.7);
  color: white;
}
.footer-container p {
  font-size: 12px;
  color: white;
  font-weight: normal;
}

.footer-container p span {
  font-weight: 700;
}
